@media screen and (max-width: 576px) {
  .habit-container {
    height: auto;
    padding: 100px 0;
  }
  .habit-content {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    gap: 20px;
  }

  .extra-mile-content {
    flex-direction: column;
    gap: 20px;
  }
  .extra-mile-text {
    width: 100%;
  }
  .extra-mile-img {
    width: 100%;
  }

  .team-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .bmi-calculator {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .bmi-calculator-chart {
    width: 100%;
  }

  footer {
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-top: 20px;
  }

  .all-links {
    justify-content: start;
    flex-direction: column;
    height: auto;
  }

  .get-started {
    width: 100%;
    padding-left: 100px;
  }
}
